/cache_dir/
/runs/
/ptc_2020/
/memes_2021/
span/__pycache__/
start_conda.sh
training_set_task2.txt
dev_set_task2.txt
test_set_task2.txt
task2_prediction.txt
/.goodscore.txt.swp
/goodscore.txt
/tests/task2_prediction_file.txt
/tsd_train.csv
/analyse.py
